.checkout-cro-progress-wrapper{
  /*
    NOTE:
    This is ripped from Taylor Stitch repo and requires a couple of mixins from that...
    https://github.com/Tricky3/Taylor-Stitch/blob/master/theme/src/css/modules/_mixins.scss
    * fluid
    * media queries, specifically:
      - for-tablet-portrait-up
      - for-tablet-landscape-up
  */

  $progressIncomplete: $colorSecondary;
  $progressComplete: $colorAlternate;
  padding: 8px 0;
  &.checkout-cro-progress-complete{ display: none;}
  .checkout-cro-progress-inner{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    .checkout-cro-progress-step{
      position: relative;
      display: block;
      width: calc(#{percentage(1/3)} - 40px);
      margin: 0 3px;
      padding: 9px 10px 9px 25px;
      color: #fff;
      line-height: 17px;
      text-align: center;
      background-color: $progressIncomplete;
      cursor: default;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      @include fluid(font-size, 10, 16);
      span{ position: relative;}
      .icon{
        position: absolute;
        top: 0;
        left: -1.5em;
        display: none;
        @include fluid(width, 9, 15);
        @include fluid(height, 9, 15);
      }
      &::after,
      &::before{
        position: absolute;
        top: 0;
        right: -16px;
        z-index: 2;
        width: 0;
        height: 0;
        border-top: 18px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 17px solid $progressIncomplete;
        transition: border-color 0.2s ease;
        content: ' ';
      }
      &::before{
        right: auto;
        left: -1px;
        z-index: 0;
        border-left: 17px solid #fff;
      }
      &:first-child{
        margin-left: 0;
        padding-left: 15px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        &::before{ border: none;}
      }
      &.checkout-cro-progress-step-complete{
        color: #fff;
        background-color: $progressComplete;
        &::after{ border-left: 17px solid $progressComplete;}
      }
    }
  }
  @include for-tablet-portrait-up{
    .checkout-cro-progress-inner{
      .checkout-cro-progress-step{
        &::before{ left: 0;}
        .icon{
          position: relative !important;
          left: -1em !important;
          display: inline-block;
        }
      }
    }
  }
  @include for-tablet-landscape-up{
    .checkout-cro-progress-inner{
      .checkout-cro-progress-step{ padding-left: 30px;}
    }
  }
}

.checkout-cro-payment-icons{
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: right;
  span{
    display: block;
    margin-bottom: 0.5rem;
  }
  li{
    display: inline-block;
    margin-left: 1px;
  }
}

.checkout-cro-why-us{
  h2{
    display: flex;
    align-items: center;
    margin: 2em 0 3em;
    text-align: center;
    @include preHeading($fs: 12px);
    &::before,
    &::after{
      flex: 2 2 auto;
      border-top: 1px solid rgba(175, 175, 175, 0.34); // default checkout border style
      content: '';
    }
    &::before{ margin-right: 1em;}
    &::after{ margin-left: 1em;}
  }
  > div{
    position: relative;
    margin-bottom: 2em;
    padding-left: 90px;
  }
  h3{
    margin: 0 0 1em;
    font-size: 16px;
  }
  p{ font-size: 11px;}
  svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 60px;
  }

  .order-summary--is-collapsed ~ &{
    display: none;

    @include for-tablet-landscape-up{ display: block;}
  }
}

// override default checkout classes to make room for .checkout-cro-why-us

.order-summary__sections{ height: auto;}