.checkout-cro-payment-icons{
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: right;
  span{
    display: block;
    margin-bottom: 0.5rem;
  }
  li{
    display: inline-block;
    margin-left: 1px;
  }
}